.search-card {
    background-color: var(--secondary-color);
    color: white;
}

.search-card:hover {
    background-color: var(--primary-color);
}

.icon-heart {
    color: red;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 1.5em;
    height:1.5em;
}