.custom-menu {
    background-color: var(--primary-color);
    color: white;
}

.nav-link, .nav-link > a {
  color: white;
}

.nav-link:hover, .nav-link > a:hover {
  color: var(--primary-hover-color);
}

.nav-link:focus, .nav-link > a:focus {
  color: var(--primary-hover-color);
}
