.customized-menu {
    background-color: var(--primary-color);
    color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--primary-hover-color);
}

.nav-link:focus {
  color: var(--primary-hover-color);
}

.customized-menu .account-options .btn {
  color: white;
}

.customized-menu .account-options .account-sm-img {
  border-radius: 50%;
}

@media screen and (min-width: 992px) {
  .customized-menu .account-options {
    position: absolute; 
    right: 0.75em;
  }
}
