.custom-menu {
    background-color: var(--primary-color);
    color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--primary-hover-color);
}

.nav-link:focus {
  color: var(--primary-hover-color);
}
