.search-card {
    background-color: var(--secondary-color);
    color: white;
}

.search-card:hover {
    background-color: var(--primary-color);
}

.icon-heart {
    position: absolute;
    top: 8px;
    right: 8px;
}